body {
	background-color:#FFFFFF;
	font-size:1em;
	margin: 1;
	font-family: "Times New Roman", Verdana, Arial, Helvetica, sans-serif;
	}

#bodyDiv {
	text-align: left;
	background-color:#CCC;
	margin: 0 auto;
	width: 1150px;
	border-left: 4px #000000 solid;
	border-right: 4px #000000 solid;
	}
	
#header {
	background-image: url(images/logo.gif);
	height:140px;
	width: 100%;
	}
	
#headMenu {
	height:25px;
	width: 100%;
	font-size: 1.2em;
	background-color: #000000;
	font-family:	Arial, Arial, Helvetica, sans-serif;
	}

#headMenu ul {
	height:35px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	color:#FFFFFF;
	}

#headMenu li {
	display:inline;
	}
	
#headMenu li a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration:none;
	margin: 5px 5px;
	padding: 7px;
	}
	
#headMenu li a:hover {
	color: #FF9933!important;
	}
	
#headNav {
	height:15px;
	width: 100%;
	color: #FFFFFF;
	}
	
h2 {
	font-family:  Showcard Gothic, Arial, Helvetica, sans-serif;
	color: #121dae;
	font-size:2em;
	border-bottom: 3px solid #000000;
	}
	
#contentLeft, #contentMiddle{
	margin: 1px 0 1px 0;
	padding: 10px;
	}
	
#contentLeft {
	width: 20%;
	float: left;
	}
	
#contentLeft p{
	float:left; 
	width:195px; 
	height:20px; 
	background-color:#00c6f7; border-left:solid 1px #FFFFFF; border-bottom:solid 1px #000000;
	font: 0.7em Tahoma, sans-serif;
	font-size: 12px;
	font-weight:bold;
	text-decoration:none;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin: 0 0 0 0;
	}
	
#contentLeft a {
	float:left; 
	width:100px; 
	height:20px; 
	background-color:#CCCCCC; border-left:solid 0px #FFFFFF; border-bottom:solid 0px #FFFFFF;
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration:none;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	}
	
#contentLeft a:hover {
	background-color:#514F1C;
	}
	
#headmid a{
	font: 0.8em Tahoma, sans-serif;
	text-decoration:none;
	color:#0000FF;
	font-size: 13px;
	font-weight:bold;
}

#headmid a:hover {
	color: #FF0000;
	}
	
#atur a{
	font: 0.8em Tahoma, sans-serif;
	text-decoration:none;
	color:#0000FF;
	font-size: 13px;
	font-weight:bold;
}

#atur a:hover {
	color: #FF0000;
	}

#contentMiddle {
	width: 75%;
	float: left;
	text-align: justify;
	font-family:Arial;
	font-size:12px;
	color:black;
	border-left: 2px #000000 solid;
}

#table{
	border-collapse:collapse;
	font-family:arial;
	font-size:12px;
	color:black;
	font-weight:lighter;
}

#headcetak{
border-collapse: collapse;
font-family:arial;
font-size:12px;
color:black;
font-weight:bold;
}

#cetak{
border-collapse: collapse;
font-family:arial;
font-size:10px;
color:black;
}

#nip{
width:200px;
}

#footer {
	clear: both;
	background-color: #CDD9EF;
	background-image:url(images/footer.gif);
	background-repeat:no-repeat;
	width: 100%;
	height: 20px;
	text-align:center;
	color:#333333!important;
	border-bottom: 1px #000000 solid;
	}

.header {
	font-size: 32px;
	font-weight: bold;
	color:#FFFF00;
}

.header2 {
	font-size: 24px;
	font-weight: bold;
	color:#00FF00;
}
	
.input{
	width:200px;
	font-family:arial;
	font-size:12px;
	color:black;
	font-weight:lighter;
}

.textarea{
	width:200px;
	height:100px;
	font-family:arial;
	font-size:12px;
	color:black;
	font-weight:lighter;
}

.select{
	font-family:arial;
	font-size:12px;
	color:black;
	font-weight:lighter;
}

.button{
	font-family:arial;
	font-size:12px;
	color:black;
	font-weight:lighter;
}
